<p id="notice"><%= notice %></p>

<h2 class="sub-header">Tickets</h2>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.id %></td>
          <td><%= ticket.title %></td>
          <td>Aberto</td>
          <td><%= link_to 'Ver', ticket %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Abrir novo ticket', new_ticket_path %>
