<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ticket.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @ticket.message %>
</p>

<h4>Mensagens:</h4>

<% @ticket.ticket_messages.each do |ticket_message| %>
  <p><%= ticket_message.message %><hr/></p>
<% end %>

<h2>Adicionar mensagem:</h2>
<%= form_for([@ticket, @ticket.ticket_messages.build]) do |f| %>
  <div class="field">
    <%= f.label :message, 'Mensagem' %><br />
    <%= f.text_area :message %>
  </div>
  <div class="actions">
    <%= f.submit 'Enviar' %>
  </div>
<% end %>

<%= link_to 'Voltar', tickets_path %>
