<h2 class="sub-header">Usuários</h2>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Curso</th>
        <th>Tipo</th>
        <th>Cargo</th>
        <th>Necessidade especial</th>
        <th>Telefone</th>
        <th>Número do documento</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.course_id %></td>
          <td><%= user.user_type_id %></td>
          <td><%= user.role_id %></td>
          <td><%= user.special_need_id %></td>
          <td><%= user.phone %></td>
          <td><%= user.document_number %></td>
          <td><%= link_to 'Ver', admin_users_path %></td>
          <td><%= link_to 'Editar', edit_admin_user_path(user) %></td>
          <td><%= link_to 'Apagar', admin_user_path(user), method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New User', new_admin_user_path %>
